



h2{
    
    color: ghostwhite;
    text-align: center;
}
h3{
    text-align: center;
    color: white;


}

p{
    text-decoration: underline;
    color: white;
    text-align: center;
}


p{
    color: white;
    text-align: center;
}